# Ignore Visual Studio temporary files and build results

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# .vs directory
.vs/

# NuGet Packages Directory
packages/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
